$margin-size: 10px;

header{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100vh;
   background: url('../img/mountains.jpg') no-repeat scroll 0 0 / cover;
}

#header{
   height: 50%
}

h1{
   margin:$margin-size;
   font-size: 40px;
}

h2{
   margin:$margin-size;
   font-size: 25px;
}

h3{
   margin:$margin-size;
   font-size: 30px;
}
