$padding: 15px;

nav{
   font-family: 'Zilla Slab', serif;
   height: 100%;
   width: 15%;
   min-width: 160px;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgb(100%,100%,100%);
   display: flex;
   justify-content: center;
}

}
