@import "./header";
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Manrope:wght@700&display=swap');

body{
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 18px;
   width: 100%;
   font-family: 'Crete Round', serif;
   line-height: 1.5;
   text-align: center;
   color: #222;
}

div{
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

p{
   width:80%;
   padding: 20px;
   background-color: rgba(100%,100%,100%,.9);
}

#innovative{
   background: url('../img/light-bulb.jpg') no-repeat scroll 0 0 / cover;
}

#useful{
   background: url('../img/piano.jpg') no-repeat scroll 0 0 / cover;
}

#aesthetic{
   background: url('../img/zen.jpg') no-repeat scroll 0 0 / cover;
}

#understandable{
   background: url('../img/path.jpg') no-repeat scroll 0 0 / cover;
}

#unobtrusive{
   background: url('../img/bridge.jpg') no-repeat scroll 0 0 / cover;
}

#honest{
   background: url('../img/doe.jpg') no-repeat scroll 0 0 / cover;
}

#long-lasting{
   background: url('../img/time.jpg') no-repeat scroll 0 0 / cover;
}

#thorough{
   background: url('../img/spider-web.jpg') no-repeat scroll 0 0 / cover;
}

#environmental{
   background: url('../img/flowers.jpg') no-repeat scroll 0 0 / cover;
}

#less{
   background: url('../img/vine.jpg') no-repeat scroll 0 0 / cover;
}
